.container {
  display: grid;

  grid-template-columns: 240px 1fr;
  grid-template-rows: 10rem 1fr 50px;
  grid-template-areas:
    "aside header"
    "aside main"
    "aside footer";

  height: 100vh;
}

.header-container {
  display: flex;
  position: relative;
  flex-direction: row;

  margin-top: 2rem;
  align-items: stretch;
}
.header-child-info {
  display: flex;
}

.header-child img {
  position: relative;
  border-radius: 50%;
  object-fit: cover;
  margin-left: 1rem;
  border: 2px solid red;
  overflow: hidden;
}

.header-child img::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  background: linear-gradient(
    circle,
    #feda75,
    #fa7e1e,
    #d62976,
    #962fbf,
    #4f5bd5
  );
  z-index: -1;
}

.header-child p {
  margin-left: 1.1rem;
  font-size: 14px;
  opacity: 0.5;
}
.header-charter-id {
  display: flex;

  flex-direction: row;
  padding-left: 30rem;
}
.header-charter-id img {
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid gold;
}
.charter-id-info {
  display: flex;
  margin: 0;
  font-family: sans-serif;
}
.user-info {
  list-style: none;
  margin-left: 1.5em;
  margin-top: 1.8rem;
}
.user-info .name {
  font-weight: 600;
  color: hsl(0, 0%, 0%);
}
.user-info .user-id {
  color: hsl(0, 0%, 60%);
  font-size: 0.8rem;
}

#charter-active {
  margin-top: 2rem;
  margin-left: 6.7rem;
}

.aside {
  grid-area: aside;

  border-right: 1px solid hsl(0, 0%, 60%);
}

.aside > h2 {
  font-family: "Italianno";
  font-size: 50px;
  font-weight: 400;
  color: #f44cf8;
  margin-left: 1rem;
}
.aside-container {
  display: flex;

  flex-direction: column;
  font-family: "San Francisco";
  font-weight: lighter;
  font-size: 14px;
  gap: 0;
}
.search {
  display: flex;
  margin-right: 0.5rem;
  padding-left: 1rem;
  margin-left: 0;
  cursor: pointer;
  border-radius: 0.5rem;
}
.search:hover {
  background-color: hsl(0, 0%, 80%);
}
.search img {
  margin-right: 1rem;
}
.search h4 {
  font: 1.1em "Proxima Nova Regular", Arial, sans-serif;
}

.home {
  display: flex;
  margin-right: 0.5rem;
  padding-left: 1rem;
  margin-left: 0;

  cursor: pointer;
  border-radius: 0.5rem;
}
.home:hover {
  background-color: hsl(0, 0%, 80%);
}
.home img {
  margin-right: 1rem;
}
.home h4 {
  font: 1.1em "Circular", "Helvetica Neue", Arial, sans-serif;
}
.reels {
  display: flex;
  margin-right: 0.5rem;
  padding-left: 1rem;
  margin-left: 0;

  cursor: pointer;
  border-radius: 0.5rem;
}
.reels:hover {
  background-color: hsl(0, 0%, 80%);
}
.reels img {
  margin-right: 1rem;
}
.reels h4 {
  font: 1.1em "Aveny T Regular", Arial, sans-serif;
}

.header {
  grid-area: header;
  position: relative;
  margin-top: 0;
}

.main {
  grid-area: main;
  display: grid;
  grid-gap: 10px;
  margin-top: 1rem;
}
.main-charter {
  display: flex;
  flex-direction: row;
  margin-left: 3rem;
  margin-bottom: 1rem;
}
.main-charter img {
  border-radius: 50%;
  transition: scale 2s 0.45s;
}
.main-charter img:hover {
  scale: 2;
  border: 1px solid gold;
}
.charter-name-info {
  display: flex;
  margin-left: 0.5rem;
  flex-direction: column;
}

.main-charter p {
  font-size: 1rem;
}
.charterid {
  color: hsl(0, 0%, 40%);
}
#chart-time {
  color: hsl(0, 0%, 40%);
}
.send-info {
  display: flex;
  object-fit: cover;
  flex-direction: row;
  margin-left: 3rem;
}
.send-info img {
  transition: scale 2s 0.45s;
}
.send-info img:hover {
  scale: 1.4;
  border-radius: 0.2rem;
}
.send-info img:nth-child(1) {
  border-top-left-radius: 0.2rem;
  border-bottom-left-radius: 0.2rem;
}
.send-info img:nth-child(2) {
  border-top-right-radius: 0.2rem;
  border-bottom-right-radius: 0.2rem;
}
.insta-svg {
  display: flex;
  margin-left: 2rem;
  justify-content: space-between;
}
.insta-svg svg {
  margin-left: 1rem;
  margin-top: 0.3rem;
  /* background-color: transparent; */
}
.insta-svg svg:nth-child(2):hover {
  background-color: hsl(0, 0%, 90%);
}
.insta-svg svg:nth-child(3):hover {
  background-color: hsl(0, 0%, 90%);
}
.insta-svg > img:hover {
  background-color: hsl(0, 0%, 90%);
}
.insta-svg > img {
  margin-right: 5.9rem;
}

.likes-info,
.views-info,
.do-comment-info {
  margin-left: 3rem;
}

.chart-content {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 250px 200px;
  grid-template-areas:
    "chart overview"
    "chart overview";
}
.chart {
  grid-area: chart;

  border-radius: 0.2rem;
  border-bottom: 1px solid hsl(0, 0%, 60%);
  margin-bottom: 0.5rem;
}

.chart-overview {
  grid-area: overview;
  display: flex;
  position: relative;
  flex-direction: column;

  height: 200px;
}
.overview-info {
  display: flex;
  justify-content: space-between;
}
.overview-info h4:nth-child(1) {
  font-size: 0.8rem;
  color: hsl(0, 0%, 40%);
}
.overview-info h4:nth-child(2) {
  margin-right: 0.3rem;
  font-size: 0.8rem;
}
.overview-list {
  display: flex;
}
.overview-list img {
  border-radius: 50%;
  object-fit: cover;
  transition: scale 2s 0.45s;
}
.overview-list img:hover {
  scale: 1.5;
}

.friend-info {
  list-style: none;
  margin-left: 1.5em;

  margin-top: 1rem;
  width: 15.5rem;
}
.friend-info .name {
  display: flex;
  font-weight: 600;
  color: hsl(0, 0%, 0%);
}
.friend-info .user-id {
  color: hsl(0, 0%, 60%);
  font-size: 0.8rem;
}
.follows-demo {
  margin-top: 2rem;
}
.wbloks_1 {
  width: 12px;
  height: 12px;
  margin-left: 4px;
  -webkit-mask-image: url("https://i.instagram.com/static/images/bloks/icons/generated/verified__filled__24-4x.png/27ffd464cfc2.png");
  -webkit-mask-size: contain;
  background-color: rgb(0, 149, 246);
  flex-shrink: 0;
}
.footer {
  grid-area: footer;
  background: #9b5de5;
  padding-left: 45%;
  padding-top: 1rem;
}
